
$breakpoints: (
  small:  414px,
  medium: 768px,
  large:  980px
) !default;

// Font stuff
$font-family:    arial, sans-serif !default;
$line-height:    1.6 !default;
$root-font-size: 100% !default;

$body-font-size: (
  null:   16px,
  small:  16px,
  medium: 16px,
  large:  16px
) !default;

$h1-font-size: (
  null:   (28px, 1.1),
  medium: (26px, 1.1)
) !default;

$txtsize: (
   xs: (12px, 1.1),
    s: (13px, 1.3),
   sm: (14px, 1.3),
   md: (16px, 1.3),
    m: (18px, 1.3),
   lg: (20px, 1.2),
   xl: (38px, 1.2),
  xxl: (44px, 1.1)
) !default;

// Widths and paddings
$site-width:   100% !default;
$spacing-unit: 15px !default;
$site-padding: $spacing-unit !default;
$gutter-width: $spacing-unit * 2 !default;

// Roxen colors
$rxn-red:        #e94c37 !default;
$rxn-blue:       #1e8ac4 !default;
$rxn-black:      #1d1d1b !default;
$rxn-grey:       #7f91a4 !default;
$rxn-light-grey: #c5d0da !default;
$rxn-dark-red:   #b42339 !default;


// Basic colors
$brand-color:                $rxn-red !default;
$black:                      darken($rxn-black, 5%) !default;
$dark-grey:                  lighten($black, 10%) !default;
$grey:                       $rxn-grey !default;
$light-grey:                 $rxn-light-grey !default;
$blue:                       $rxn-blue !default;
$white:                      #fff !default;
$dimmed-color:               $grey !default;

// Element colors
$body-bg:                    lighten($black, 10%) !default;
$body-color:                 #aaa !default;
$header-bg:                  $black !default;
$topmenu-bg:                 lighten($black, 5%) !default;
$topmenu-color:              $brand-color !default;
$topmenu-selected-bg:        $body-bg !default;
$topmenu-selected-color:     $light-grey !default;
$main-column-bg:             lighten($body-bg, 5%) !default;
$footer-bg:                  $header-bg !default;
$footer-color:               $grey !default;
$site-message-color:         $rxn-dark-red !default;
$link-color:                 $blue !default;
$button-bg:                  $topmenu-bg !default;
$button-color:               $grey !default;
$button-enter-outline-color: orange !default;
$tablist-border-color:       #000 !default;


$input-border-color:         $black !default;
$input-focus-color:          $grey !default;


$notify-bg-color:            $rxn-blue !default;
$notify-warn-bg-color:       #B4A612 !default;
$notify-error-bg-color:      $rxn-dark-red !default;
$notify-ok-bg-color:         #A8DAB8 !default;
$border-color:               #ddd !default;
$dotted-border-color:        #ccc !default;
$th-bg-color:                $brand-color !default;
$th-color:                   white !default;

$ok-color:                   #79BC89 !default;

$diff-red-color:             $rxn-red !default;
$diff-green-color:           $ok-color !default;

// Other
$border-radius:              2px !default;
$input-lineheight:           1.15 !default;
