RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
/build
/config.cache
/config.log
/config.status
/config.h.in
/configurations
/configure
/gtext_cache
/local
/logs
/ulpc
/ChangeLog.gz
/ChangeLog.rxml.gz
/Makefile
/VERSION
