[attr]binary -text -crlf -diff -ident
* text ident
*.DSW eol=crlf
*.c eol=crlf
*.cif binary
*.cpp eol=crlf
*.dsp eol=crlf
*.gif binary
/server/tools/ntroxen/ntstart/StdAfx.h eol=crlf
/server/tools/ntroxen/ntstart/resource.h eol=crlf
/server/tools/ntroxen/startdll/StdAfx.h eol=crlf
/server/tools/ntroxen/startdll/cmdline.h eol=crlf
/server/tools/ntroxen/startdll/enumproc.h eol=crlf
/server/tools/ntroxen/startdll/resource.h eol=crlf
/server/tools/ntroxen/startdll/roxen.h eol=crlf
/server/tools/ntroxen/version.h eol=crlf
*.ico binary
*.idl eol=crlf
*.jar binary
*.jpeg binary
*.jpg binary
*.mc eol=crlf
*.pem -text -crlf
/server/modules/proxies/gopher.pike -text -crlf
*.png binary
*.raw binary
*.rc eol=crlf
*.rgs eol=crlf
*.tar binary
*.ttf binary
/server/data/fonts/Andover.txt eol=crlf
/server/data/fonts/Font.txt eol=crlf
/server/data/fonts/Hultog.txt eol=crlf
/server/data/fonts/Quadrang.txt eol=crlf
/server/data/fonts/Resegrg.txt eol=crlf
*.xcf binary
/server/data/test/tests/rxml/RoxenTest_WashHtmlTag.xml -text -crlf
nn binary
worldmap binary

# Handling of foreign (ie CVS) identifiers.
#
[attr]foreign_ident -ident block_commit=Remove-foreign_ident-attribute-before-commit.
# Files containing CVS ids follow.
# Remove the corresponding line before committing
# changes to these files.
/server/admin_interface/boxes/userfriendly.pike foreign_ident
/server/admin_interface/sites/add_module.pike foreign_ident
/server/admin_interface/sites/site_content.pike foreign_ident
/server/admin_interface/tasks/debug_info.pike foreign_ident
/server/admin_interface/tasks/debug_summary.pike foreign_ident
/server/admin_interface/tasks/flush.pike foreign_ident
/server/admin_interface/tasks/ftpstatus.pike foreign_ident
/server/admin_interface/tasks/generate_rsa.pike foreign_ident
/server/admin_interface/tasks/listfonts.pike foreign_ident
/server/admin_interface/tasks/locks.pike foreign_ident
/server/admin_interface/tasks/make_rsa_csr.pike foreign_ident
/server/admin_interface/tasks/make_selfsigned_dsa.pike foreign_ident
/server/admin_interface/tasks/make_selfsigned_rsa.pike foreign_ident
/server/admin_interface/tasks/make_site_template.pike foreign_ident
/server/admin_interface/tasks/openfiles.pike foreign_ident
/server/admin_interface/tasks/proc.pike foreign_ident
/server/admin_interface/tasks/reloadconfigurations.pike foreign_ident
/server/admin_interface/tasks/resolv.pike foreign_ident
/server/admin_interface/tasks/restart.pike foreign_ident
/server/admin_interface/tasks/ssl_common.pike foreign_ident
/server/admin_interface/template foreign_ident
/server/admin_interface/user_form.pike foreign_ident
/server/bin/buildenv.pike foreign_ident
/server/bin/create_configif.pike foreign_ident
/server/bin/create_testcert.pike foreign_ident
/server/bin/env.d/nptl.pike foreign_ident
/server/bin/fixquota.pike foreign_ident
/server/bin/garbagecollector.pike foreign_ident
/server/bin/lsquota.pike foreign_ident
/server/bin/mkdir foreign_ident
/server/bin/mysql_client foreign_ident
/server/bin/setup_nsr.pike foreign_ident
/server/bin/sqladduser.pike foreign_ident
/server/create_admininterface foreign_ident
/server/data/extensions foreign_ident
/server/data/include/config.h foreign_ident
/server/data/include/module.h foreign_ident
/server/data/include/request_trace.h foreign_ident
/server/data/include/roxen.h foreign_ident
/server/data/include/stat.h foreign_ident
/server/data/include/udp.h foreign_ident
/server/data/include/variables.h foreign_ident
/server/data/include/version.h foreign_ident
/server/data/randomtext/README foreign_ident
/server/data/randomtext/company foreign_ident
/server/data/randomtext/poetry foreign_ident
/server/data/supports foreign_ident
/server/data/test/filesystem/test_rxml_package foreign_ident
/server/data/test/tests/ftp/RoxenTest_ftp.pike foreign_ident
/server/data/test/tests/ftp/ftp_test.pike foreign_ident
/server/debugstart foreign_ident
/server/etc/include/proxyauth.pike foreign_ident
/server/etc/refdoc/Makefile foreign_ident
/server/etc/refdoc/modref.xml foreign_ident
/server/java/src/com/roxen/roxen/AbstractLocationModule.java foreign_ident
/server/java/src/com/roxen/roxen/Defvar.java foreign_ident
/server/java/src/com/roxen/roxen/ExperimentalModule.java foreign_ident
/server/java/src/com/roxen/roxen/FileExtensionModule.java foreign_ident
/server/java/src/com/roxen/roxen/Frame.java foreign_ident
/server/java/src/com/roxen/roxen/HTTP.java foreign_ident
/server/java/src/com/roxen/roxen/LocationModule.java foreign_ident
/server/java/src/com/roxen/roxen/Module.java foreign_ident
/server/java/src/com/roxen/roxen/ParserModule.java foreign_ident
/server/java/src/com/roxen/roxen/ProviderModule.java foreign_ident
/server/java/src/com/roxen/roxen/RXML.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenConfiguration.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenFileResponse.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenLib.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenRXMLResponse.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenRequest.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenResponse.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenStringResponse.java foreign_ident
/server/java/src/com/roxen/roxen/SecurityModule.java foreign_ident
/server/java/src/com/roxen/roxen/SimpleTagCaller.java foreign_ident
/server/java/src/com/roxen/roxen/UniqueModule.java foreign_ident
/server/modules/administration/avg_profiling.pike foreign_ident
/server/modules/administration/config_filesystem.pike foreign_ident
/server/modules/administration/config_tags.pike foreign_ident
/server/modules/administration/roxen_test.pike foreign_ident
/server/modules/compat/ssi.pike foreign_ident
/server/modules/database/sqltag.pike foreign_ident
/server/modules/directories/directories.pike foreign_ident
/server/modules/directories/indexfiles.pike foreign_ident
/server/modules/examples/common_api.pike foreign_ident
/server/modules/examples/filter.pike foreign_ident
/server/modules/examples/fnord.pike foreign_ident
/server/modules/examples/last.pike foreign_ident
/server/modules/examples/location.pike foreign_ident
/server/modules/examples/newstyle_fnord.pike foreign_ident
/server/modules/examples/tagdoc_notation.pike foreign_ident
/server/modules/examples/userdb_ex.pike foreign_ident
/server/modules/filesystems/filesystem.pike foreign_ident
/server/modules/filesystems/incoming.pike foreign_ident
/server/modules/filesystems/repositoryfs.pike foreign_ident
/server/modules/filesystems/restrictedfs.pike foreign_ident
/server/modules/filesystems/sqlfs.pike foreign_ident
/server/modules/filesystems/tarfs.pike foreign_ident
/server/modules/filesystems/userfs.pike foreign_ident
/server/modules/filters/auto_gzip.pike foreign_ident
/server/modules/filters/deflate.pike foreign_ident
/server/modules/filters/hostredirect.pike foreign_ident
/server/modules/filters/redirect.pike foreign_ident
/server/modules/filters/supports_filter.pike foreign_ident
/server/modules/filters/tableborder.pike foreign_ident
/server/modules/filters/url_rectifier.pike foreign_ident
/server/modules/filters/whitespace_remover.pike foreign_ident
/server/modules/filters/word_highlight.pike foreign_ident
/server/modules/graphics/atlas.pike foreign_ident
/server/modules/graphics/business.pike foreign_ident
/server/modules/graphics/cimg.pike foreign_ident
/server/modules/graphics/counter.pike foreign_ident
/server/modules/graphics/gbutton.pike foreign_ident
/server/modules/graphics/graphic_text.pike foreign_ident
/server/modules/graphics/gxml.pike foreign_ident
/server/modules/graphics/pimage.pike foreign_ident
/server/modules/graphics/tablist.pike foreign_ident
/server/modules/graphics/wiretap.pike foreign_ident
/server/modules/icecast/dir_playlist.pike foreign_ident
/server/modules/icecast/icecast.pike foreign_ident
/server/modules/ldap/ldaptag.pike foreign_ident
/server/modules/ldap/userdb_ldap.pike foreign_ident
/server/modules/logging/client_logger.pike foreign_ident
/server/modules/logging/home_logger.pike foreign_ident
/server/modules/logging/nologging.pike foreign_ident
/server/modules/logging/roxen_network.pike foreign_ident
/server/modules/misc/contenttypes.pike foreign_ident
/server/modules/misc/demo.pike foreign_ident
/server/modules/misc/implicit_use.pike foreign_ident
/server/modules/misc/ismap.pike foreign_ident
/server/modules/misc/language2.pike foreign_ident
/server/modules/misc/pathinfo.pike foreign_ident
/server/modules/misc/preferred_language.pike foreign_ident
/server/modules/misc/randomtext.pike foreign_ident
/server/modules/misc/robots.txt.pike foreign_ident
/server/modules/misc/wapadapter.pike foreign_ident
/server/modules/misc/webdav.pike foreign_ident
/server/modules/proxies/connect.pike foreign_ident
/server/modules/proxies/ftpgateway.pike foreign_ident
/server/modules/proxies/gopher.pike foreign_ident
/server/modules/proxies/port_forwarder.pike foreign_ident
/server/modules/proxies/proxy.pike foreign_ident
/server/modules/proxies/relay2.pike foreign_ident
/server/modules/proxies/wais.pike foreign_ident
/server/modules/scripting/cgi.pike foreign_ident
/server/modules/scripting/fastcgi.pike foreign_ident
/server/modules/scripting/fpscript.pike foreign_ident
/server/modules/scripting/perl.pike foreign_ident
/server/modules/scripting/php4.pike foreign_ident
/server/modules/scripting/pikescript.pike foreign_ident
/server/modules/scripting/piketag.pike foreign_ident
/server/modules/scripting/plis.pike foreign_ident
/server/modules/scripting/servlet.pike foreign_ident
/server/modules/scripting/webapp.pike foreign_ident
/server/modules/security/auth_httpbasic.pike foreign_ident
/server/modules/security/auth_httpcookie.pike foreign_ident
/server/modules/security/htaccess.pike foreign_ident
/server/modules/security/userdb_sql.pike foreign_ident
/server/modules/security/userdb_sql1.pike foreign_ident
/server/modules/security/userdb_sql2.pike foreign_ident
/server/modules/security/userdb_system.pike foreign_ident
/server/modules/tags/accessed.pike foreign_ident
/server/modules/tags/additional_rxml.pike foreign_ident
/server/modules/tags/awizard.pike foreign_ident
/server/modules/tags/check_spelling.pike foreign_ident
/server/modules/tags/countdown.pike foreign_ident
/server/modules/tags/email.pike foreign_ident
/server/modules/tags/emit_timerange.pike foreign_ident
/server/modules/tags/expandvariables.pike foreign_ident
/server/modules/tags/foldlist.pike foreign_ident
/server/modules/tags/html2x.pike foreign_ident
/server/modules/tags/html_wash.pike foreign_ident
/server/modules/tags/id3tag.pike foreign_ident
/server/modules/tags/indirect_href.pike foreign_ident
/server/modules/tags/javascript_support/javascript_support.pike foreign_ident
/server/modules/tags/javascript_support/scripts/ColorSelector.js foreign_ident
/server/modules/tags/killframe.pike foreign_ident
/server/modules/tags/obox.pike foreign_ident
/server/modules/tags/rxmlparse.pike foreign_ident
/server/modules/tags/rxmltags.pike foreign_ident
/server/modules/tags/sed.pike foreign_ident
/server/modules/tags/session_tag.pike foreign_ident
/server/modules/tags/sizer.pike foreign_ident
/server/modules/tags/snmp.pike foreign_ident
/server/modules/tags/tablify.pike foreign_ident
/server/modules/tags/translation_mod.pike foreign_ident
/server/modules/tags/vform.pike foreign_ident
/server/modules/tags/wizard_tag.pike foreign_ident
/server/modules/tags/wizz.pike foreign_ident
/server/modules/tags/writefile.pike foreign_ident
/server/modules/throttling/baseline_throttling.pike foreign_ident
/server/modules/throttling/throttlelib.pike foreign_ident
/server/modules/throttling/throttletags.pike foreign_ident
/server/modules/throttling/throttling_byaddress.pike foreign_ident
/server/modules/throttling/throttling_byhostname.pike foreign_ident
/server/modules/throttling/throttling_bytime.pike foreign_ident
/server/modules/throttling/throttling_bytype.pike foreign_ident
/server/modules/throttling/throttling_byuser.pike foreign_ident
/server/perl/bin/perlhelper foreign_ident
/server/perl/bin/perlrun foreign_ident
/server/pike_modules/DBManager.pmod foreign_ident
/server/pike_modules/Dims.pmod foreign_ident
/server/pike_modules/ExtScript.pmod foreign_ident
/server/pike_modules/HTML.pmod foreign_ident
/server/pike_modules/RXML.pmod/PEnt.pike foreign_ident
/server/pike_modules/RXML.pmod/PExpr.pike foreign_ident
/server/pike_modules/RXML.pmod/PXml.pike foreign_ident
/server/pike_modules/RXML.pmod/module.pmod foreign_ident
/server/pike_modules/RXML.pmod/utils.pmod foreign_ident
/server/pike_modules/Roxen.pmod foreign_ident
/server/pike_modules/RoxenDebug.pmod foreign_ident
/server/pike_modules/RoxenRPC.pmod/Client.pike foreign_ident
/server/pike_modules/RoxenRPC.pmod/HTTP.pmod/Client.pike foreign_ident
/server/pike_modules/RoxenRPC.pmod/HTTP.pmod/Server.pike foreign_ident
/server/pike_modules/RoxenRPC.pmod/Server.pike foreign_ident
/server/pike_modules/SloppyDOM.pmod foreign_ident
/server/pike_modules/StateHandler.pmod foreign_ident
/server/pike_modules/Variable.pmod/module.pmod foreign_ident
/server/plugins/arg_cache/replicate.pike foreign_ident
/server/plugins/font_handlers/builtin.pike foreign_ident
/server/plugins/font_handlers/imagedir.pike foreign_ident
/server/plugins/font_handlers/old.pike foreign_ident
/server/plugins/font_handlers/ttf.pike foreign_ident
/server/plugins/protocols/ftp.pike foreign_ident
/server/plugins/protocols/http.pike foreign_ident
/server/plugins/protocols/prot_https.pike foreign_ident
/server/plugins/protocols/tetris.pike foreign_ident
/server/rxml_packages/counter foreign_ident
/server/rxml_packages/gtext_list foreign_ident
/server/rxml_packages/roxenlogo foreign_ident
/server/server_core/basic_defvar.pike foreign_ident
/server/server_core/cache.pike foreign_ident
/server/server_core/configuration.pike foreign_ident
/server/server_core/core.pike foreign_ident
/server/server_core/disk_cache.pike foreign_ident
/server/server_core/fonts.pike foreign_ident
/server/server_core/global_variables.pike foreign_ident
/server/server_core/hosts.pike foreign_ident
/server/server_core/html.pike foreign_ident
/server/server_core/javamodule.pike foreign_ident
/server/server_core/language.pike foreign_ident
/server/server_core/loader.pike foreign_ident
/server/server_core/master.pike foreign_ident
/server/server_core/module.pike foreign_ident
/server/server_core/module_support.pike foreign_ident
/server/server_core/newdecode.pike foreign_ident
/server/server_core/prototypes.pike foreign_ident
/server/server_core/read_config.pike foreign_ident
/server/server_core/roxenlib.pike foreign_ident
/server/server_core/rxml.pike foreign_ident
/server/server_core/snmpagent.pike foreign_ident
/server/server_core/socket.pike foreign_ident
/server/server_core/supports.pike foreign_ident
/server/server_core/throttler.pike foreign_ident
/server/server_core/wizard.pike foreign_ident
/server/start foreign_ident
/server/tools/addfp98.pike foreign_ident
/server/tools/cmf.mib foreign_ident
/server/tools/ntroxen/startdll/StdAfx.cpp foreign_ident
/server/tools/ntroxen/startdll/StdAfx.h foreign_ident
/server/tools/ntroxen/startdll/cmdline.cpp foreign_ident
/server/tools/ntroxen/startdll/cmdline.h foreign_ident
/server/tools/ntroxen/startdll/resource.h foreign_ident
/server/tools/ntroxen/startdll/roxen.cpp foreign_ident
/server/tools/ntroxen/startdll/roxen.h foreign_ident
/server/tools/ntroxen/startdll/startdll.cpp foreign_ident
/server/tools/ntroxen/startdll/startdll.idl foreign_ident
/server/tools/ntroxen/version.h foreign_ident
/start foreign_ident
