[attr]binary -text -crlf -diff -ident
* text ident
*.DSW eol=crlf
/server/bin/mysql_client_nt.bat eol=crlf
/server/tools/ntroxen/startdll/enumproc.c eol=crlf
*.cif binary
*.cpp eol=crlf
/local/fonts/.distignore -text -crlf
/local/pike_modules/.distignore -text -crlf
*.dsp eol=crlf
*.gif binary
/server/tools/ntroxen/ntstart/StdAfx.h eol=crlf
/server/tools/ntroxen/ntstart/resource.h eol=crlf
/server/tools/ntroxen/startdll/StdAfx.h eol=crlf
/server/tools/ntroxen/startdll/cmdline.h eol=crlf
/server/tools/ntroxen/startdll/enumproc.h eol=crlf
/server/tools/ntroxen/startdll/resource.h eol=crlf
/server/tools/ntroxen/startdll/roxen.h eol=crlf
/server/tools/ntroxen/version.h eol=crlf
*.ico binary
*.idl eol=crlf
*.jar binary
*.jpeg binary
*.jpg binary
/server/config_interface/dbs/ajax_optimizeall.js eol=crlf
/server/config_interface/dbs/ajax_repairall.js eol=crlf
/server/config_interface/sites/find_module.js -text -crlf
*.mc eol=crlf
*.pdf binary
/server/demo_certificate.pem -text -crlf
/server/modules/proxies/gopher.pike -text -crlf
*.png binary
*.raw binary
*.rc eol=crlf
*.rgs eol=crlf
*.rxp binary
*.sln eol=crlf
*.tar binary
*.ttf binary
/server/nfonts/Andover.txt eol=crlf
/server/nfonts/Font.txt eol=crlf
/server/nfonts/Hultog.txt eol=crlf
/server/nfonts/Quadrang.txt eol=crlf
/server/nfonts/Resegrg.txt eol=crlf
*.vcproj eol=crlf
*.wxs eol=crlf
*.xcf binary
/server/etc/test/tests/rxml/RoxenTest_WashHtmlTag.xml -text -crlf
nn binary
rbf binary
worldmap binary

# Handling of foreign (ie CVS) identifiers.
#
[attr]foreign_ident -ident block_commit=Remove-foreign_ident-attribute-before-commit.
# Files containing CVS ids follow.
# Remove the corresponding line before committing
# changes to these files.
/server/bin/fixquota.pike foreign_ident
/server/bin/lsquota.pike foreign_ident
/server/bin/pdbi.pike foreign_ident
/server/config_interface/user_form.pike foreign_ident
/server/etc/include/stat.h foreign_ident
/server/etc/include/udp.h foreign_ident
/server/etc/modules/RXML.pmod/PExpr.pike foreign_ident
/server/etc/more_extensions/apache foreign_ident
/server/etc/more_extensions/chemical foreign_ident
/server/etc/more_extensions/inlinetypes foreign_ident
/server/etc/randomtext/README foreign_ident
/server/etc/test/filesystem/test_rxml_package foreign_ident
/server/java/src/com/roxen/roxen/AbstractLocationModule.java foreign_ident
/server/java/src/com/roxen/roxen/Defvar.java foreign_ident
/server/java/src/com/roxen/roxen/ExperimentalModule.java foreign_ident
/server/java/src/com/roxen/roxen/FileExtensionModule.java foreign_ident
/server/java/src/com/roxen/roxen/Frame.java foreign_ident
/server/java/src/com/roxen/roxen/HTTP.java foreign_ident
/server/java/src/com/roxen/roxen/LocationModule.java foreign_ident
/server/java/src/com/roxen/roxen/Module.java foreign_ident
/server/java/src/com/roxen/roxen/ParserModule.java foreign_ident
/server/java/src/com/roxen/roxen/ProviderModule.java foreign_ident
/server/java/src/com/roxen/roxen/RXML.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenConfiguration.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenFileResponse.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenLib.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenRXMLResponse.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenRequest.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenResponse.java foreign_ident
/server/java/src/com/roxen/roxen/RoxenStringResponse.java foreign_ident
/server/java/src/com/roxen/roxen/SecurityModule.java foreign_ident
/server/java/src/com/roxen/roxen/SimpleTagCaller.java foreign_ident
/server/java/src/com/roxen/roxen/UniqueModule.java foreign_ident
/server/languages/english.pike foreign_ident
/server/mkdir foreign_ident
/server/more_modules/bofh.pike foreign_ident
/server/rxml_packages/counter foreign_ident
/server/rxml_packages/gtext_list foreign_ident
/server/rxml_packages/roxenlogo foreign_ident
/server/tools/addfp98.pike foreign_ident
/server/tools/ntroxen/startdll/resource.h foreign_ident
/server/tools/ntroxen/startdll/startdll.idl foreign_ident
