/.ttffontcache
/.pike-script-servers
/disabled_modules
/.purify
/sqlnet.log
/.more_mode
/old_modules
/old_components
/.old_roxen_defines
/.removed_dumped_mark
/config_caches
/.remove_dumped_mark
/precompiled
