<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
  <dict>
    <key>Description</key>
    <string>Roxen CMS</string>
    <key>OrderPreference</key>
    <string>None</string>
    <key>Provides</key>
    <array>
      <string>RoxenCMS</string>
    </array>
    <key>Requires</key>
    <array>
      <string>Resolver</string>
    </array>
  </dict>
</plist>
