*
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#roxen-product {  
  relative;
  padding: 10px;
  min-width: 300px;
  vertical-align: middle;
}
#roxen-product img {
  height: 35px;
  width: auto;
}
#roxen-product div.R {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
#roxen-product .text {
  display: inline-block;
  vertical-align: middle;
  color: #4a4a49;
  line-height: 1.2;
  font-size: 100%;
}
#roxen-product .text .ep,
#roxen-product .text .webserver {
  display: block;
}
#roxen-product .roxen {
  font-weight: bold;
}

tt, pre, textarea
{
	font-family: monospace;
}

.dimtext
{
	color: #aaa;
}

a { text-decoration: none; color: #2331d1 }
a:hover { text-decoration: underline; color: #6d7cff }

hr {
   border-top:     none;
   border-bottom:  1px solid #aaa;
   border-left:    none;
   border-right:   none;
}

img, input {
   /* Avoid blurry UI elements on Hi-DPI screens due to interpolation. */
   image-rendering: -webkit-crisp-edges;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges;
   image-rendering: crisp-edges;
   -ms-interpolation-mode: nearest-neighbor;
}

li
{
	/*margin-left: -1em;*/
	/*margin-bottom: 0.3em;*/
	list-style-image: URL(/themes/default/bullet.gif);
}

h3
{
	color: #778;
	border-bottom: 1px solid #bbc;
	padding: 6px 0 4px 0;
}

/* For Mozilla */
.add-module-select option
{
	font-family: monospace;
}

/* IE */
.add-module-select
{
	font-family: monospace;
}


li.item-indicator
{
	/*margin-left: 0;*/
	/*margin-bottom: 0.3em;*/
	/*list-style-image: URL(/themes/default/bullet.gif);*/
}

li.selected-indicator
{
	/*margin-left: 0;*/
	/*margin-bottom: 0.3em;*/
	list-style-image: URL(/themes/default/sel2.gif);
}

td.selected-indicator
{
	/*font-size: 80%;*/
	background-color: #e0e0e0;
}

div.bottom-div
{
	padding-right: 10px;
}

table.logitems td:first-child {
    vertical-align: top;
    width: 20px;
    padding-top: 4px;
}

ul.module-list
{
	font-size: 90%;
	margin-left: 20px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
}

table.module-list
{
	font-size: 90%;
	/*margin-left: 20px;*/
	/*margin-right: 5px;*/
	/*margin-top: 5px;*/
	/*margin-bottom: 5px;*/
	/*padding: 0;*/
	/*cursor: default;*/
}

table.module-list th
{
	white-space: nowrap;
}

ul.module-sub-list
{
	font-size: 90%;
	margin-left: 15px;
	padding: 0;
}

table.module-sub-list
{
	font-size: 90%;
}

table.module-sub-list-2
{
	font-size: 100%;
}

table tr.tr-sticky {
 	position:  -webkit-sticky;
 	position:  -moz-sticky;
 	position:  -ms-sticky;
 	position:  -o-sticky;
	position:  sticky;
        top:       0px;
}

table th.td-left,
table td.td-left {
	text-align: left;
}

table th.td-right,
table td.td-right {
	text-align: right;
}


table.hilite-1stcol > tr > td:first-child,
table.hilite-1stcol > tbody > tr > td:first-child {
	font-weight: bold;
	white-space: nowrap;
	padding-right:	12px;
}

.module-list-item-hover,
.module-list-item-hover a,
.module-list-item-hover a:hover
{
	color: #ffffff;
	background-color: #5f89d3;
	text-decoration: none;
	cursor: pointer;
}

.module-sub-list-item-hover,
.module-sub-list-item-hover a,
.module-sub-list-item-hover a:hover
{
	/*font-size: 90%;*/
	color: #ffffff;
	background-color: #5f89d3;
	text-decoration: none;
	cursor: pointer;
}


/* popups */

.module-popup-list {
	font-size: 81%;
	margin: 0;
	padding: 2px;
	cursor: default;
}

.module-popup-list-item td {
	/*color: #215dc6;*/
	padding-left: 16px;
	padding-right: 16px;
}

.module-popup-list-item-hover td {
	color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
	background-color:  #5f89d3;
}


/* docs tab */

.doc * {
       font-size: 11px;
}

.doc h1 {
       font-size: 16px;
}

.doc h2 {
       font-size: 13px;
}

.doc li {
       list-style-image: inherit;
}

.th_top    { border-top: solid 2px #d5d5db; 
             border-bottom: solid 1px #d5d5db;
             background: #f5f5fb;
             text-align: left; }
.td_top    { padding-right: 10px; border-top: solid 1px #d5d5db; }
.td_bottom { padding-right: 10px; border-bottom: solid 1px #d5d5db; }



/* Resolve path styling */
ol.timing {
  list-style-type:	none;
  padding:		0;
  cursor:		arrow;
}

li.timing {
  list-style-image:	none;
  margin:		2px 0;
  padding:		0 0 0 16px;
  font-size:		11px;
}

li.timing span.toggle {
  display:	block;
  width:	16px;
  height:	13px;
  float:	left;
  margin-left:	-16px;
  background:	white url("fold.gif") -5px 50% no-repeat;
}

li.timing a,
li.timing span.toggle {
  cursor:	pointer;
}

li.timing div.inner {
}

li.timing.closed > span.toggle {
  background-image:	url("unfold.gif");
}

li.timing.closed > div.inner {
  display:	none;
}

li.timing.open:hover {
  background:	url("/internal-roxen-pixel-ddddff") 5px 0 repeat-y;
}

i.timing {
  color:	#888;
}
