<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Module Guid='3c9f2796-7141-3ee6-9105-3a02c958fb24'
	  Version='@NTSTART_VERSION@' Id='ntstart-server' Language='1033'>
    <Package Manufacturer='Roxen Internet Software'
	     Id='????????-????-????-????-????????????'
	     InstallerVersion='300' Compressed='yes'/>
    <Directory src='.\server.tmp\' Name='SourceDir' Id='TARGETDIR'>
      <Directory Name='.' Id='KLUDGE_TARGETDIR'>
	<Component Guid='f9599ed5-e7f8-32a8-9f6b-038a3cfb3898' Id='C_TARGETDIR'
		   SharedDllRefCount='yes'>
	  <File LongName='startdll.dll' Id='_46f5a8f646cf3ff6a954f639dce4446f'
		Vital='yes' Name='startdll.dll' KeyPath='yes'/>
	</Component>
      </Directory>
    </Directory>
  </Module>
</Wix>
