<cset variable=templateeditorp><tmplinsert tag=templateeditorp></cset>
<cset variable=htmleditorp><tmplinsert tag=htmleditorp></cset>
<cset variable=menueditorp><tmplinsert tag=menueditorp></cset>

<tmplblock tag=error>
  <table border=0><tr>
    <td valign=top><img src="/internal-roxen-err_3"></td>
    <td><font color=darkred>$error$</font></td>
  </tr></table>
</tmplblock>

<tmplblock tag=toolbarlayout>
<if variable="htmleditorp is t">
  <table cellspacing=0 border=0>
  $toolbarlayout$
  </table>
</if>
<else>
  <table>
    <tr>$toolbarlayout$</tr>
  </table>
</else>
</tmplblock>

<tmplblock tag=toolbarheadinglayout>
  <tr><td><b>$toolbarheadinglayout$</b></td></tr>
</tmplblock>

<tmplblock tag=toolbarbuttonlayout params=name,href,target,shade singletag>
<if variable="htmleditorp is t">
  <if match="$shade$ is ">
    <tr>
      <td><gtext
           xspacing=12 yspacing=3 notrans nfont=helvetica scale=0.35 bold
           xsize=400 bevel=5 talign=center
           fg=#ffffff bg=#113377 magic_fg=#000000 magic_bg=#88ccaa
           magic='$name$' href='$href$' target=$target$>$name$</gtext></td>
    </tr>
  </if>
  <else>
    <tr>
      <td><gtext
           xspacing=12 yspacing=3 notrans nfont=helvetica scale=0.35 bold
           xsize=400 bevel=5 talign=center
           fg=#606060 bg=#a0a0a0>$name$</gtext></td>
    </tr>
  </else>
</if>
<else>
  <td>
  <form method=get action='$href$'>
    <pike>
      string r="";
      if(sscanf("$href$", "%*s?%s", string s))
        foreach(s/"&", string var) {
	  string variable, value;
          if(sscanf(var, "%s=%s", variable, value)>=2)
	    r += "<input type=hidden name="+variable+" value="+value+">\n";
	}
      return r;
    </pike>
    <input type=submit name="$name$" value="$name$">
  </form>
  </td>
</else>
</tmplblock>

<tmplblock tag=webadmtablify>
  <tablify nice cellseparator="|||" rowseparator="///">
    $webadmtablify$
  </tablify>
</tmplblock>
	
<html>
<head><title>AutoWeb Admin</title></head>

<body bgcolor='#ffffff' text='#000000' link='#000070'
      vlink='#000070' alink='#ff000'>

<table cellpadding=0 cellspacing=0 border=0 width='100%'><tr>

  <td valign=bottom align=left>
    <a href=http://www.roxen.com/>
    <img width=102 height=40 border=0 alt="Roxen"
         src=/internal-roxen-roxen-icon-gray></a></td>

  <td>
    &nbsp;
  </td>

  <td width='100%' height=39>
    <table cellpadding=0 cellspacing=0 width='100%' border=0>
      <tr width='100%'>
        <td width=100% align=right valigh=center height=28>

          <b><font size=+1>
	    <autosite-webadm-customername>
          </font></b>

        </td>
      </tr>
      <tr width='100%'>
        <td bgcolor='#003366' align=right height=12 width='100%'>
          <font color=white size=-2>
            &nbsp;&nbsp;AutoWeb administration
          </font>
        </td>
      </tr>
    </table>
  </td>
       
</tr></table>

<br>
<tmplinsert tag=tablist>
<br><br>

<cset variable=else>t</cset>

<if variable="htmleditorp is t">
  <table cellspacing=1><tr><td bgcolor=#000000>
    <table border=0 cellspacing=1 cellpadding=10>
      <tr>
	<td bgcolor=#eeeeee>
	  <font size=+1><b>Toolbar</b></font>
	</td>
	<td bgcolor=#eeeeee>
	  <font size=+1><b>File Browser</b></font>
	</td>
      </tr>
      <tr>
	<td valign=top bgcolor=#eeeeee>
	  <tmplinsert tag=toolbar>
	</td>
	<td valign=top bgcolor=#eeeeee>
	  <tmplinsert tag=content>
	</td>
      </tr>
    </table>
  </td></tr></table>
  <cset variable=else>nil</cset>
</if>

<if variable="menueditorp is t">
  <tmplinsert tag=content>
  <tmplinsert tag=toolbar>
  <cset variable=else></cset>
</if>

<if variable="templateeditorp is t">
  <tmplinsert tag=content>
  <if variable=show_menu>
    <tmplinsert tag=toolbar>
    <if variable=apply>
      <b>Active template is applied to the website</b>
    </if>
  </if>
  <cset variable=else></cset>
</if>

<if variable="else is t">
  <tmplinsert tag=content>
</if>

</body></html>