
.__even-buttons {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.button-group {
  button {
    margin-right: -4px;
  }
}

button {
  white-space: nowrap;
  cursor: pointer;
  text-align: left;

  &.perm {
    @extend .__icon;
    width: 185px;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;

    &.dimmed {
      // opacity: .8;
      color: $grey;
    }

    &.checked {
      color: $ok-color;

      &:before {
        content: '\f00c';
      }
    }
  }

  &[data-form-key='ENTER'] {
    outline: 1px solid $button-enter-outline-color;
  }

  &:disabled {
    cursor: default;
    opacity: .5;
  }
}

