.config-var {
  @include fixed-grid('[col1-start] 25% [col2-start] auto [col2-end]',
                      '[row1-start] auto [row2-start] auto [row2-end]');
  @include clear;

  margin-top: $spacing-unit;
  border-bottom: 1px dashed darken($body-color, 25%);
  padding-bottom: $spacing-unit;

  &:first-of-type {
    border-top: 1px dashed darken($body-color, 25%);
    padding-top: $spacing-unit;
  }

  &.no-border {
    border-bottom: 0;
  }

  h3 {
    border-bottom: 1px solid lighten($main-column-bg, 10%);
    margin-top: $spacing-unit*2;
    padding-bottom: $spacing-unit/2;
  }

  .name {
    @include text-size(lg);
    color: $light-grey;
    font-weight: bold;
    // width: 25%;
    // flex-grow: 1;
    margin-left: 0;
    padding-left: 0;
    // padding-right: $spacing-unit;
    grid-column: col1-start;
    grid-row: row1-start / row2-end;

    &.small {
      @include text-size(md);
    }
  }

  .value {
    // width: 75%;
    // flex-grow: 1;
    grid-column: col2-start;
    grid-row: row1-start;
    margin-left: 0;
    padding-left: 0;

    &.changed {
      padding: $spacing-unit;
      background: lighten($body-bg, 2%);
    }

    dl {
      margin: 0;

      dd {
        margin-left: 0;

        &+ dt {
          margin-top: $spacing-unit/2;
        }
      }
    }
  }

  .doc {
    display: block;
    padding-left: 0;
    margin-left: 0;
    margin-top: $spacing-unit/2;
    grid-column: col2-start;
    grid-row: row2-start;
    // margin-left: 25%;
    // @include text-size(sm);

    & > p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.narrow {
    .name {
      width: 15%;
    }

    .value {
      width: 85%;
    }

    .doc {
      margin-left: 15%;
    }
  }

  + .config-var {
    // padding-top: $spacing-unit;
  }

  .button-cell {
    width: 50px;
  }
}

.port-cfg-vars {
  .rxn-var-list {
    tr {
      border-bottom: 1px dashed darken($body-color, 25%);

      &:last-child {
        border-bottom: 0;
      }
    }

    td {
      padding-top: $spacing-unit;
      padding-bottom: $spacing-unit;
    }

    tr {
      &:first-child {
        td {
          padding-top: 0;
        }
      }
    }
  }
}

.initial-module-conf {
  padding: $site-padding;
  background: darken($main-column-bg, 3%);
  margin-bottom: $spacing-unit;

  h3 {
    margin-top: 0;
  }

  .config-var {
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.cfg-variable-group {
  padding: 0 $spacing-unit $spacing-unit $spacing-unit;
  border: 1px solid darken($body-bg, 5%);
  margin-bottom: $spacing-unit*2;

  .cfg-variable-group-label {
    font-weight: bold;
    // display: inline-block;
    background: darken($body-bg, 5%);
    padding: $spacing-unit/2 $spacing-unit;
    margin-left: -$spacing-unit;
    margin-right: -$spacing-unit;
  }

  .config-var {
    &:first-of-type {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}
