[data-toggle-next] {
  cursor: pointer;

  &:hover {
    color: lighten($light-grey, 10%);
  }
}

.site-width {
  max-width: $site-width;
  margin: 0 auto;
}

.site-padding {
  padding: 0 $site-padding;
}

.site-padding-all {
  padding: $site-padding;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.nowrap, .nobr {
  white-space: nowrap;
}

.no-decoration {
  text-decoration: none;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-top {
  margin-top: $spacing-unit;
}

.margin-bottom {
  margin-bottom: $spacing-unit;
}

.margin-top-bottom {
  margin: $spacing-unit 0;
}

.negative-wrapper {
  margin: -($site-padding);
}

.indent {
  margin-left: $site-padding;

  &.extra {
    margin-left: $site-padding*2;
  }
}

.dimmed {
  color: $grey;
}

.ellipsis {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.float-right {
  float: right;
  margin-left: $spacing-unit;
  margin-bottom: $spacing-unit/2;
}

.float-left {
  float: left;
  margin-right: $spacing-unit;
  margin-bottom: $spacing-unit/2;
}

.clear-float {
  @include clear;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.small {
  @include text-size(sm);
}

.large {
  @include text-size(lg);
}

.x-large {
  @include text-size(xl);
}

.cursor-pointer {
  cursor: pointer;
}

.rotated-wrapper {
  display: inline-block;
  text-align: left;
  overflow: hidden;
  width: 1.2em;
  line-height: 1.2em;
  padding: $spacing-unit 0 0 0;
}

.rotated {
  display: inline-block;
  white-space: nowrap;
  transform: translate(0, 100%) rotate(-90deg);
  transform-origin: 0 0;

  &:after {
    content: ' ';
    float: left;
    margin-top: 100%;
  }
}

.action-btn-spacer {
  display: inline-block;
  width: 1px;
  background: lighten($black, 10%);
  height: 33px;
  margin: 0 $spacing-unit/2;
  vertical-align: bottom;
}

.valign-top {
  vertical-align: top;
}

.divider {
  margin: $spacing-unit 0;
  height: 1px;
  background: $body-bg;
  border: 0;
  display: block;
}

.scrollable {
  position: relative;
  max-width: 100%;
  overflow-x: auto;
}

.pre {
  white-space: pre;
  font-family: monospace;
}

.monospace {
  font-family: monospace;
}

div.diff {
  background: $main-column-bg;
  padding: $site-padding;

  [color='darkred'] {
    color: $diff-red-color;
  }

  [color='darkgreen'] {
    color: $diff-green-color;
  }
}

.cbox {
  background: lighten($body-bg, 0%);

  & + .cbox {
    margin-top: $site-padding;
  }

  .content {
    padding: $site-padding;
  }

  .title {
    margin: 0;
    padding: $site-padding;
    @include text-size(lg);
    background: $topmenu-bg;
    color: $light-grey;
  }

  dt {
    font-weight: bold;
  }
}

section {
  &.port {
    padding-left: $spacing-unit*2;

    h2 {
      margin-left: -($spacing-unit*2);
      padding: $spacing-unit/2 $spacing-unit;
      background: darken($main-column-bg, 3%);

      &.open {
        a {
          @extend .__icon;
          color: $light-grey;

          &:before {
            content: '\f078'; // fa-chevron-down
          }
        }
      }
    }
  }
}

.resolve-result-header,
.resolve-result-footer {
  padding: $spacing-unit;
  background: $topmenu-bg;
}
.resolve-result-body {
  padding: $spacing-unit;
  @include text-size(sm);
  background: darken($main-column-bg, 5%);
  color: lighten($body-color, 10%);

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;

    &.open {
      &:hover {
        background: url(/internal-roxen-pixel-363634) 4px repeat-y;
      }
    }
  }

  i.timing {
    color: darken($body-color, 20%);
    @include text-size(xs);
  }

  .toggle {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-left: -16px;
    margin-top: -1px;
    opacity: .3;
    cursor: pointer;
    z-index: 1;
    @extend .__icon;

    &:before {
      @include text-size(xs);
      // vertical-align: middle;
      display: inline-block;
      content: '\f146'; // fa-minus-square
    }

    &.open {
      &:before {
        content: '\f0fe'; // fa-plus-square
      }
    }

    &.closed {
      opacity: .7;
    }

    &:hover {
      opacity: 1;
    }
  }

  .hidden {
    display: none;
  }

  .src-path {
    color: lighten(#8CA759, 0%);
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

.module-deprecated {
  border: 1px solid $rxn-red;
  border-left-width: $spacing-unit;
}

.module-deprecated-header {
  &:before {
    content: 'Deprecated: ';
    color: $rxn-red;
  }
}

.site-module {
  &.module-deprecated {
    padding-left: $spacing-unit;

    h2 {
      &:first-of-type {
        @extend .module-deprecated-header;
      }
    }
  }
}

.add-modules-wrapper {
  .dim {
    @include text-size(sm);
    color: darken($body-color, 15%);
  }

  .group-header {
    &.open {
      border-left: 1px solid $brand-color;
      background: darken($main-column-bg, 10%);
    }

    .select-multiple {
      margin-right: $spacing-unit;
      margin-top: $spacing-unit*1.5;
    }
  }

  .module-checkbox {
    display: block;
    padding: $spacing-unit/2 $spacing-unit;
    background: darken($main-column-bg, 10%);
    border-radius: $border-radius;
    border: 1px solid $black;
    line-height: 1.2;

    &:checked,
    &.checked {
      border-color: $brand-color;
      color: $brand-color;

      span {
        color: $brand-color;
        &:before {
          content: '\f046' // fa-square-checked-o
        }
      }
    }

    &:focus,
    &.focus {
      border-color: $grey;
      outline: 0;
    }

    input {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      visibility: hidden;
      position: absolute;
      opacity: 0;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      color: $grey;

      @extend .__icon;

      &:before {
        width: 14px;
        content: '\f096'; // fa-square-o
      }
    }
  }

  .module {
    background: darken($main-column-bg, 3%);
    padding: $spacing-unit;
    border-top: 1px dashed lighten($main-column-bg, 10%);
    border-left: 1px solid $rxn-red;

    &:hover {
      // background: lighten($main-column-bg, 0%);
      border-left-color: $link-color;
    }

    &.deprecated {
      @extend .module-deprecated;
      margin-bottom: 1px;
      margin-top: 1px;

      .header {
        h3 {
          @extend .module-deprecated-header;
        }
      }
    }

    h3 {
      margin-top: 0;
    }
  }

  .doc {
    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}

.user-perms {
  margin-left: -($spacing-unit/2);
  .col {
    display: inline-block;
    width: 16.66667%;
    padding-left: $spacing-unit/2;
    margin-bottom: $spacing-unit/2;
  }
}
