
.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  > li {
    > a {
      @extend .__icon;
    }
  }

  li {
    margin-bottom: 1px;
    position: relative;

    &.deprecated {
      a {
        @extend .__icon;
        color: $rxn-red;
        &:before {
          content: '\f071'; // fa-exclamation-triangle
        }
      }
    }

    &.button {
      a {
        background: $black;
        font-weight: bold;
        color: $grey;
      }
    }

    &.site-name {
      a {
        // @include text-size(lg);
        &:before {
          content: '\f0e8'; // fa-sitemap
        }
      }
    }

    &.add-module {
      a {
        &:before {
          content: '\f055'; // fa-plus-circle
        }
      }
    }

    &.drop-module {
      a {
        &:before {
          content: '\f056'; // fa-minus-circle
        }
      }
    }

    &.module-group {
      > a {
        &:before {
          content: '\f07b'; // fa-folder
        }
      }

      &.unfolded {
        > a {
          &:before {
            content: '\f07c'; // fa-folder-open
          }
        }
      }
    }
  }

  > li {
    &:first-child {
      a {
        color: $brand-color;
      }
    }

    &.unfolded {
      > a {
        font-weight: bold;
      }
    }
  }

  &.site {
    > li:first-child a:before {
      content: '\f077'; // fa-chevron-up
    }
  }

  a {
    width: 100%;
    display: block;
    padding: $site-padding;
    text-decoration: none;
    background: $topmenu-bg;
    // color: $topmenu-color;
    color: $grey;
    transition: background .2s ease-in, color .2s ease-in;

    &:hover {
      background: lighten($topmenu-bg, 3%);
      color: lighten($grey, 10%);
    }
  }

  ul {
    margin: 0;
    margin-top: 1px;
    background: lighten($topmenu-bg, 2%);
    @include text-size(sm);

    padding-top: $spacing-unit/2;
    padding-bottom: $spacing-unit/2;

    a {
      background: transparent;
      padding: $site-padding/3 $site-padding;
      padding-left: 0;
      transition: color .2s ease-in;
      position: relative;

      &:hover {
        color: lighten($grey, 15%);
      }
    }

    &.folded {
      display: none;
    }

    &.popup {
      position: absolute;
      border: 1px solid $black;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 320px;
      margin-left: 90%;
      top: $spacing-unit;
      z-index: 1;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);

      a {
        padding: $spacing-unit/2 $spacing-unit;
      }

      &.open {
        display: block;
      }
    }
  }

  li {
    &.selected {
      a {
        color: $light-grey;
        font-weight: bold;
      }
    }
  }
}
