
table {
  font-size: 100%;
  width: 100%;
  border-collapse: collapse;

  &+ table {
    margin-top: $spacing-unit;
  }

  &+ .section {
    margin-top: $spacing-unit*2;
  }

  pre {
    margin: 0;
  }

  th {
    text-align: left;
  }

  &.auto {
    width: auto;

    th,
    td {
      padding-left: $spacing-unit;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &.rxn-var-list {
    margin-bottom: $spacing-unit;

    th,
    td {
      padding: 0;
      padding-bottom: $spacing-unit/3;
      vertical-align: top;

      &:not(.rxn-btn-td) {
        &+ .rxn-btn-td {
          padding-left: $spacing-unit;
        }
      }
    }

    .port-url {
      margin-bottom: $spacing-unit/3;
    }

    // .rxn-new-row {
    //   border-top: 1px solid darken($body-bg, 2%);
    //   padding-top: $spacing-unit/2;
    // }
  }

  &.valign-top {
    th, td {
      vertical-align: top;
    }
  }

  .valign-top {
    vertical-align: top;
  }

  td,
  th {
    padding-bottom: $spacing-unit/2;

    &.num {
      text-align: right;
      white-space: nowrap;
    }

    &.no-padding {
      padding: 0;
    }
  }

  &.tight {
    padding-bottom: $spacing-unit/4;
  }

  td + td,
  th + th {
    padding-left: $spacing-unit/2;
  }

  > tr {
    &:last-child {
      td {
        padding-bottom: 0;
      }
    }
  }

  &.devinfo {
    table {
      td {
        padding-left: 0;
        padding-bottom: 0;
      }
    }
  }

  &.ports-port {
    td:first-child {
      width: 25%;
    }
  }

  &.nice {
    border-left: 1px solid $topmenu-bg;
    border-right: 1px solid $topmenu-bg;

    &.no-th {
      border-top: 1px solid $topmenu-bg;
    }

    &.auto {
      tr {
        td:first-child,
        th:first-child {
          padding-left: $spacing-unit;
        }
      }
    }

    tr {
      &:hover {
        color: $white;
      }
    }

    th,
    td {
      padding: $spacing-unit/2 $spacing-unit;
      &.no-padding {
        padding: 0;
      }
    }

    thead,
    table table thead {
      background: $topmenu-bg;
    }

    tbody {
      background: lighten($main-column-bg, 2%);

      > tr {
        &:nth-child(2n+1) {
          background: lighten($main-column-bg, 4%);
        }
      }
    }


    tbody,
    tfoot,
    .sum,
    .column-hdr {
      td,
      th {
        border-bottom: 1px solid $topmenu-bg;
        border-left: 1px dashed $topmenu-bg;

        &:first-child {
          border-left: 0;
        }
      }
    }

    tfoot,
    .sum,
    .column-hdr,
    .tbl-details,
    .tbl-open {
      font-weight: bold;
      color: $light-grey;
      background: lighten($body-bg, 2%) !important;
    }

    .nopad {
      padding: 0;

      table {
        margin-bottom: -1px;
      }
    }
  }

  .tbl-open {
    > td {
      a {
        color: $brand-color;
      }
    }
  }

  &.db-list {
    table {
      border-left: 1px solid $topmenu-bg;
      border-right: 1px solid $topmenu-bg;
      border-bottom: 1px solid $topmenu-bg;
      margin-bottom: $spacing-unit/2;

      tbody {
        tr {
          &:last-child {
            td {
              border-bottom: 0;
            }
          }
        }
      }
    }

    tbody {

      .group-hdr {
        background: $topmenu-bg !important;
        th {
          padding-top: $spacing-unit;
          padding-bottom: $spacing-unit;
          @include text-size(lg);
        }

        a {
          text-decoration: none;
          color: $light-grey;
        }
      }

      .db {
        a {
          text-decoration: none;
          font-weight: bold;
          display: block;
        }
      }

      .tbl-details {
        font-weight: normal;
        td {
          .description {
            padding: $spacing-unit/2 0;
            font-style: italic;
            border-bottom: 1px solid $topmenu-bg;
          }
        }
      }
    }
  }

  &.matrix {
    width: auto;

    a {
      text-decoration: none;
      display: inline-block;
    }

    .db,
    .conf {
      background: lighten($body-bg, 4%);
    }

    .conf {
      text-align: center;
      vertical-align: bottom;

      a {
        @include     text-size(sm);
        white-space: nowrap;
        display:     inline-block;
      }
    }

    tr {
      &:nth-child(2n+1) {
        td {
          &:not(.db) {
            background: lighten($main-column-bg, 3%);
          }
        }
      }
    }

    th,
    td {
      border: 1px solid lighten($body-bg, 1%);
      padding: $spacing-unit/2 $spacing-unit;
    }


    td {
      white-space: nowrap;
      &:not(.db) {
        a {
          color: $body-color;
          padding: 2px;

          &:hover {
            color: lighten($body-color, 35%);
          }
        }
      }
    }

    .group-hdr {
      > th {
        text-align: center;

        &:first-child {
          width: 220px;
          background: darken($body-bg, 2%);
          vertical-align: bottom;
          text-align: left;
          border-top: 0;
          border-left: 0;
          padding-top: $spacing-unit*2;
        }
      }
    }
  }

  // Memory usage
  &.mem {
    width: 100%;

    thead {
      th {
        &:first-child {
          width: 180px;
        }
      }
    }

    tr {
      border-bottom: 1px dotted lighten($main-column-bg, 7%);
    }

    th,
    td {
      padding: $spacing-unit/3 0;
      padding-right: $spacing-unit;
    }

    .less {
      color: $grey;
    }

    .more {
      color: $rxn-red;
    }

    tbody,
    tfoot {
      font-family: monospace;
      tr {
        &:hover {
          background: lighten($main-column-bg, 3%);
        }
      }
    }
    thead {
      border-bottom: 1px solid lighten($main-column-bg, 10%);
    }
    tfoot {
      font-weight: bold;
      border-top: 1px solid lighten($main-column-bg, 10%);
    }
  }

  &.hilite-1stcol {
    tr {
      td {
        padding: $spacing-unit/2 $spacing-unit/2;
        border-bottom: 1px solid $main-column-bg;
        background: lighten($main-column-bg, 3%);

        &:first-child {
          font-family: monospace;
          font-weight: bold;
          white-space: nowrap;
          background: darken($main-column-bg, 3%);
          border-bottom: 1px solid $main-column-bg;
        }
      }
    }
  }


  &.module-list {
    th,
    td {
      vertical-align: top;
    }
  }

  // Patch manager

  &.module-sub-list {
    th {
      white-space: nowrap;
      padding-right: $spacing-unit;
      width: 176px;
    }
  }

  &.module-sub-list-2 {
    border: 0;
    // margin-left: -$spacing-unit;
    // margin-top: -$spacing-unit/2;
    // margin-bottom: -$spacing-unit/2 !important;
    //margin: -($spacing-unit/2) -$spacing-unit;


    thead th,
    tbody th,
    thead td,
    tbody td {
      border: 0;
    }
  }

  &.patch-list {
    & > thead {
      font-weight: bold;
      color: $light-grey;
      background: darken($body-bg, 2%) !important;
    }

    th,
    td {
      vertical-align: top;
    }

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    & > thead > tr > th,
    & > tbody > tr > td {
      padding: $spacing-unit/2 $spacing-unit;
    }

    & > tbody {
      background: darken($main-column-bg, 3%);

      & > tr {
        &:hover {
          color: $white;
        }

        &:nth-child(4n+1) {
          background: darken($main-column-bg, 1%);
        }
        &:nth-child(4n+2) {
          background: darken($main-column-bg, 1%);
        }
      }
    }

    input {
      display: block;
      margin-top: $spacing-unit/2.5;
    }
  }

  .tfoot {
    background: darken($body-bg, 2%) !important;
  }

  &.pike-prof {
    th,
    td {
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }
  }
}

.icon {
  &.folded,
  &.unfolded {
    @extend .__icon;
    margin-right: 0;
    margin-top: 6px;
    vertical-align: top;
    display: inline-block;

    &:before {
      content: '\f0fe';
      @include text-size(xs);
    }
  }

  &.unfolded {
    &:before {
      content: '\f146';
    }
  }
}

td.icon {
  display: table-cell !important;
  margin-top: 0 !important;
  padding-top: $spacing-unit/3 !important;
  color: $rxn-red;

  &:before {
    display: inline-block !important;
    margin-top: -6px !important;
  }
}
