<include file=gtext_headers.inc bg_color=$$text_bg_color$$>
<include file=bg_image.inc>

<formoutput quote='£'>
<html>
<head>
  <title><as-meta var=title></title>
  <include file=metadata.inc>
</head>
<body bgcolor='$$bg_color$$' text='$$text_color$$' link='$$link_color$$'
      vlink='$$vlink_color$$' alink='$$alink_color$$' £bg_image£>
  <table border=0 cellpadding=5 cellspacing=0>
    <tr>
      <td><img src=/logo.gif alt="">
        <img src=/internal-roxen-unit width=1 height=1 alt=""></td>
      <td align=$$title_align$$ valign=bottom>
        <gtext bg=$$bg_color$$ fg=$$title_color$$
	       scale=$$title_size$$
	       £title_shadow£ $$title_font_style$$
               nfont=$$title_font$$><as-meta var=title></gtext></td>
    </tr>
    <tr>
      <td rowspan=3 valign=top>
        <include file='$$nav_name$$' bg_color=$$bg_color$$>
      </td>
      <td valign=top bgcolor=$$text_bg_color$$ £text_bg_image£>
        <tmplinsert tag=content>
      </td>
    </tr>
    <tr>
      <td height=20 bgcolor=$$text_bg_color$$ £text_bg_image£>
        <img src=/internal-roxen-unit width=1 height=1 alt=""></td> 
    </tr>
    <tr>
      <td align=$$footer_align$$ bgcolor=$$text_bg_color$$ £text_bg_image£>
        <insert nocache file=/footer.html nocache></td> 
    </tr>
  </table>
</body>
</html>
</formoutput>