<include file=gtext_headers.inc>
<include file=bg_image.inc>
<formoutput quote='£'>
<html>
<head><title><as-meta var=title></title></head>
<body bgcolor='$$bg_color$$' text='$$text_color$$' link='$$link_color$$'
      vlink='$$vlink_color$$' alink='$$alink_color$$' £bg_image£>
  <table>
    <tr>
      <td colspan=2></td>
      <td align=$$page_head_text_align$$>
        <gtext bg=$$bg_color$$ fg=$$page_head_text_color$$
	       scale=$$page_head_text_size$$
	       £page_head_text_shadow£ $$page_head_text_font_style$$
               nfont=$$page_head_text_font$$>$$page_head_text$$</gtext></td>
    </tr>
    <tr>
      <td valign=top><img src="/internal-roxen-unit" height=30 width=1>
        <include file='$$nav_name$$'>
      </td>
      <td width=5%></td>
      <td valign=top>
        <tmplinsert tag=content>
      </td>
    </tr>
  </table>
</body>
</html>
</formoutput>