<include file=gtext_headers.inc>
<include file=bg_image.inc>

<formoutput quote='£'>
<html>
<head><title><as-meta var=title></title></head>
<body bgcolor='$$bg_color$$' text='$$text_color$$' link='$$link_color$$'
      vlink='$$vlink_color$$' alink='$$alink_color$$' £bg_image£>
  <table>
    <tr>
      <td colspan=2></td>
      <td align=$$title_align$$>
        <gtext bg=$$bg_color$$ fg=$$title_color$$
	       scale=$$title_size$$
	       £title_shadow£ $$title_font_style$$
               nfont=$$title_font$$><as-meta var=title></gtext></td>
    </tr>
    <tr>
      <td valign=top><img src="/internal-roxen-unit" height=30 width=1>
        <include file='$$nav_name$$'>
      </td>
      <td width=5%></td>
      <td valign=top>
        <tmplinsert tag=content>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td align=$$footer_align$$><insert file=/footer.html</td> 
    </tr>
  </table>
</body>
</html>
</formoutput>