<include file=gtext_headers.inc bg_color=$$text_bg_color$$>
<include file=shadow.inc>
<include file=bg_image.inc>

<formoutput quote=£>

<html>
<head>
  <title><as-meta var=title></title>
  <include file=metadata.inc>
</head>
<body bgcolor=$$bg_color$$ text=$$text_color$$ link=$$link_color$$
      vlink=$$vlink_color$$ alink=$$alink_color$$ £bg_image£>

<table cellpadding=0 cellspacing=0 border=0>
  <tr>
    <td colspan=9 bgcolor=$$border_color$$>
      <img src=/internal-roxen-unit width=1 height=15 alt=""></td>
  </tr>
  <tr>
    <td rowspan=5 bgcolor=$$border_color$$>
      <img src=/internal-roxen-unit width=15 height=1 alt=""></td>
    <td colspan=3 bgcolor=$$border_color$$ align=center>
      <if not match='$$logo_position$$ is '>
        <img src=/logo.gif alt=""></if><else>
        <img src=/internal-roxen-unit width=1 height=1></else></td>
    <td rowspan=5 bgcolor=$$border_color$$>
      <img src=/internal-roxen-unit width=15 height=1 alt=""></td>
    <td colspan=3 bgcolor=$$border_color$$ align=$$title_align$$>
      <gtext bg=$$border_color$$ fg=$$title_color$$
        scale=$$title_size$$
        £title_shadow£ $$title_font_style$$
        nfont='$$title_font$$'><as-meta var=title></gtext></td>
    <td rowspan=5 bgcolor=$$border_color$$>
      <img src=/internal-roxen-unit width=15 height=1 alt=""></td>
  </tr>
  <tr>
    <td colspan=3 bgcolor=$$border_color$$>
      <img src=/internal-roxen-unit width=1 height=15 alt=""></td>
    <td colspan=3 bgcolor=$$border_color$$>
      <img src=/internal-roxen-unit width=1 height=15 alt=""></td>
  </tr>
  <tr>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£ align=left>
      <blob size=$$corner_1_size$$ corner=2 transparent=$$text_bg_color$$
        bg=$$border_color$$ fg=$$text_bg_color$$></td>
    <td bgcolor=$$text_bg_color$$ £text_bg_image£>
      <img src=/internal-roxen-unit width=1 height=1 alt=""></td>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£ align=right>
      <blob size=$$corner_1_size$$ corner=3 transparent=$$text_bg_color$$
        bg=$$border_color$$ fg=$$text_bg_color$$></td>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£ align=left>
      <blob size=$$corner_1_size$$ corner=2 transparent=$$text_bg_color$$
        bg=$$border_color$$ fg=$$text_bg_color$$></td>
    <td bgcolor=$$text_bg_color$$ £text_bg_image£>
      <img src=/internal-roxen-unit width=1 height=1 alt=""></td>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£ align=right>
      <blob size=$$corner_1_size$$ corner=3 transparent=$$text_bg_color$$
        bg=$$border_color$$ fg=$$text_bg_color$$></td>
  </tr>
  <tr>
    <td bgcolor=$$text_bg_color$$ £text_bg_image£>
      <img src=/internal-roxen-unit width=15 height=1 alt=""></td>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£ valign=top>
      <comment><--  Nav  --></comment>
      <include file='$$nav_name$$' bg_color=$$text_bg_color$$></td>
    <td bgcolor=$$text_bg_color$$ £text_bg_image£>
      <img src=/internal-roxen-unit width=15 height=1 alt=""></td>
    <td bgcolor=$$text_bg_color$$ £text_bg_image£>
      <img src=/internal-roxen-unit width=15 height=1 alt=""></td>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£>
      <comment><--  Content  --></comment>
      <tmplinsert tag=content><p>
      <br>
      <insert file=/footer.html></td>
    <td bgcolor=$$text_bg_color$$ £text_bg_image£>
      <img src=/internal-roxen-unit width=15 height=1 alt=""></td>
  </tr>
  <tr>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£ align=left>
      <blob size=$$corner_1_size$$ corner=1 transparent=$$text_bg_color$$
        bg=$$border_color$$ fg=$$text_bg_color$$></td>
    <td bgcolor=$$text_bg_color$$ £text_bg_image£>
      <img src=/internal-roxen-unit width=1 height=1 alt=""></td>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£ align=right>
      <blob size=$$corner_1_size$$ corner=0 transparent=$$text_bg_color$$
        bg=$$border_color$$ fg=$$text_bg_color$$></td>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£ align=left>
      <blob size=$$corner_1_size$$ corner=1 transparent=$$text_bg_color$$
        bg=$$border_color$$ fg=$$text_bg_color$$></td>
    <td bgcolor=$$text_bg_color$$ £text_bg_image£>
      <img src=/internal-roxen-unit width=1 height=1 alt=""></td>
    <td colspan=1 bgcolor=$$text_bg_color$$ £text_bg_image£ align=right>
      <blob size=$$corner_1_size$$ corner=0 transparent=$$text_bg_color$$
        bg=$$border_color$$ fg=$$text_bg_color$$></td>
  </tr>
  <tr>
    <td colspan=9 bgcolor=$$border_color$$>
      <img src=/internal-roxen-unit width=1 height=15 alt=""></td>
  </tr>
  
</table>

</body>

</formoutput>