<include file='gtext_headers.inc'>

<html>
<head><title><as-meta var=title></title></head>
<body bgcolor='$$bg_color$$' text='$$text_color$$' link='$$link_color$$'
      vlink='$$vlink_color$$' alink='$$alink_color$$'>
  <table cellpadding=0 cellspacing=0 border=0>
    <tr>
      <if not match='$$page_head_image$$ is none'>
        <if supports=tableimages>
          <td height=50 align=$$page_head_image_align$$
	      bgcolor=$$page_head_bar_color$$
              background="$$page_head_image$$">&nbsp;</td>
        </if>
	<else><td align=$$page_head_image_align$$
                  bgcolor=$$page_head_bar_color$$>
          <img src="$$page_head_image$$"></td>
        </else>
      </if>
    </tr>
    <tr>
      <td><img height=2 width=100% src=/internal-roxen-unit></td>
    </tr>
    <tr>
      <td align=center bgcolor=$$nav_bg_color$$>
        <include file='$$nav_name$$'>
      </td>
    </tr>
    <tr>
      <td><table><tr>
        <td width=10%></td>
        <td width=80% valign=top><tmplinsert tag=content></td>
        <td width=10%></td>
      </tr></table></td>
    </tr>
  </table>
</body>
</html>