<include file='gtext_headers.inc'>

<cset variable=bg_image preparse>background=<rimage-id>
  <layer>
    <solid width=3000 height=16 color='$$bg_color$$'>
    <polygon points='25,0,26,0,26,16,25,16' color='$$page_head_bar_color$$'>
  </layer>
</rimage-id></cset>

<cset variable=title_shadow></cset>
<if match='$$title_shadow$$ is 1'><cset
  variable=title_shadow>shadow=60,0</cset></if>

<formoutput quote='£'>

<html>
<head><title><as-meta var=title></title></head>
<body bgcolor='$$bg_color$$' text='$$text_color$$' link='$$link_color$$'
      vlink='$$vlink_color$$' alink='$$alink_color$$'
      £bg_image£>
  <table border=0 cellpadding=0 cellspacing=0>
    <tr>
      <td><img src="/internal-roxen-unit"></td>
      <td><img src="/internal-roxen-unit"></td>
      <td width=100% align=$$title_align$$ valign=bottom>
        <gtext scale=$$title_size$$ £title_shadow£
               fg=$$title_color$$ nfont=$$title_font$$
               $$title_font_style$$><as-meta var=title></gtext>
      </td>
    </tr>
    <tr>
      <td bgcolor=$$page_head_bar_color$$><img src="/internal-roxen-unit"
          width=10 height=1></td>
      <td bgcolor=$$page_head_bar_color$$><img src="/internal-roxen-unit"></td>
      <td bgcolor=$$page_head_bar_color$$><img src="/internal-roxen-unit"></td>
    </tr>
    <tr>
      <td><img src="/internal-roxen-unit"></td>
      <td><img src="/internal-roxen-unit"></td>
      <td align=$$page_head_image_align$$>$$page_head_image$$</td>
    </tr>
    <tr>
      <td valign=top><img src="/internal-roxen-unit" height=80 width=1>
        <include file='$$nav_name$$'></td>
      <td width=10%>&nbsp;</td>
      <td valign=top><tmplinsert tag=content></td>
    </tr>
  </table>
</body>
</html>

</formoutput>