<include file=gtext_headers.inc bg_color=$$bg_color$$>
<include file=shadow.inc>
<include file=bg_image.inc>

<formoutput quote=£>

<html>
<head><title><as-meta var=title></title></head>
<body bgcolor='$$bg_color$$' text='$$text_color$$' link='$$link_color$$'
      vlink='$$vlink_color$$' alink='$$alink_color$$' £bg_image£>
  <table border=0>
    <tr>
      <td colspan=4>
	<gtext bg=$$bg_color$$ fg=$$title_color$$
               background=$$page_head_bar_color$$ $$title_font_style$$
               alpha="/img/night/galler.ppm" talign=$$title_align$$
               scale=$$title_size$$ £title_shadow£
               nfont=$$title_font$$ rescale><as-meta var=title></gtext>
      </td>
    </tr>
    <tr>
      <td valign=top><img src=/internal-roxen-unit width=1 height=50>
        <include file='$$nav_name$$'>
      </td>
      <td width=10%></td>
      <td valign=top>
        <tmplinsert tag=content>
      </td>
      <td width=10%></td>
    </tr>
    <tr><td colspan=4 height=10></td></tr>
    <tr>
      <td></td>
      <td></td>
      <td align=$$footer_align$$><insert file=/footer.html></td>
      <td></td>
    </tr>
  </table>

</body>
</html>
</formoutput>