<include file='gtext_headers.inc'>
<html>
<head><title><as-meta var=title></title></head>
<body bgcolor='$$bg_color$$' text='$$text_color$$' link='$$link_color$$'
      vlink='$$vlink_color$$' alink='$$alink_color$$'>
<include file='body.inc'>
<include file='$$nav_name$$'>
<tmplinsert tag=content>
</body>
</html>