<html>
<head><title>Title</title></head>

<body bgcolor='$$bg_color$$' text='$$text_color$$' link='$$link_color$$'
      vlink='$$vlink_color$$' alink='$$alink_color$$'>
Template 1
<tmplinsertall>
</body>