<html>
<head><title><tmplinsert tag=doctitle></title></head>

<body bgcolor='$$bg_color$$' text='$$text_color$$' link='$$link_color$$'
      vlink='$$vlink_color$$' alink='$$alink_color$$'>
<insertnavigation>
<tmplinsert tag=content>
</body>
